name: me_connais_tu
version: 1.0.0+1
publish_to: 'none'

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  go_router: ^13.2.0
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  uuid: ^4.3.3

flutter:
  uses-material-design: true
